.news-list{
	border-bottom:1px dotted #DDD;padding:12px 0px 12px 0px;
}
.news-list .news-date{
	color:#888 !important;
}
.news-detail{
	overflow:hidden;
}
.news-detail img{
	max-width:100%;
}
.index-product{
	background:#FFF;
}
.index-news{
	background:#DDD;
}
.index-news .img{
	width:550px!important;
	height:auto!important;
}
.index-news .news{
	margin-left:-30px!important; margin-right:-30px!important;
}
.index-news img{
	width:100%;
	height:200px;
}
.index-news .brief{
	line-height:26px;
	height:300px;
	overflow:hidden;
}

@media (max-width: 767px) {
	.index-news img{
		width:100%;
		height:auto;
	}
	.index-news .brief{
		line-height:24px;
		height:auto;
	}
	.index-news .img{
		width:250px!important;
		height:auto!important;
	}
}