.news-list{
	border-bottom:1px dotted #DDD;padding:12px 0px 12px 0px;
}
.news-list .news-date{
	color:#888 !important;
}
.news-detail{
	overflow:hidden;
}
.news-detail img{
	max-width:100%;
}
.index-news{
	background:#DDD;
}
.index-news img{
	width:100%;
	heigt:auto;
	min-height:150px;
	max-height:200px;
}
.index-news{
	
}